:root {
    --text-color: #fff;
    --bg-color: #11101b;
    --segundo-text-color: rgb(30, 29, 48);
    --main-color: #9531bd;
}

.container {
    display: flex;
}

.container, .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 15px;
}

.card {
    display: flex;
    position: relative;
    z-index: 1;
    width: 300px;
    height: 350px;
    margin-top: 50px;
    margin-left: 40px;
}

.card:hover .flip {
    transform: rotateY(180deg);
}

.flip {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.frenteHTML, .frenteCSS, .frenteJS, .frentePY, .frenteC, .frenteJAVA, .atras {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--main-color);
    backface-visibility: hidden;
}

.frenteHTML, .frenteCSS, .frenteJS, .frentePY, .frenteC, .frenteJAVA {
    
    background-color: var(--segundo-text-color);
    background-size: cover;
}

.atras {
    background-color: var(--segundo-text-color);
    transform: rotateY(180deg);
    display: flex;
    text-align: center ;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    font-weight: 650;
}

.frenteHTML {
    background-image: url(../img/cards/html.png);
}

.frenteCSS {
    background-image: url(../img/cards/css.png);
}

.frenteJS {
    background-image: url(../img/cards/js.png);
}

.frentePY {
    background-image: url(../img/cards/python.png);
}

.frenteC {
    background-image: url(../img/cards/c.png);
}

.frenteJAVA {
    background-image: url(../img/cards/java.png);
}